header {
    background-color: #000000;
    color: #FFFFFF;
    margin-left: 25%;   
}

body {
    background-color: #000000;
    font-family: 'Chivo', sans-serif;
}

main {
    background-color: #14213D;
    padding: 16px;
    color:#FFFFFF; 
}

.finstagram-post{
    margin-bottom: 48px;
}

.finstagram-post .user-info img {
    border-radius: 75%;
  }

a.photo{
    transition: padding 0.5s;
  }

a.photo:hover{
    padding: 10px;
  }

.comments {
    background-color:#14213D;
    color: #FFFFFF;
    border: solid 2px #1E96FC;
    padding: 1px;
    padding-left: 10px;
}
